*,
::before,
::after{
margin:0;
padding:0;
-webkit-tap-highlight-color: antiquewhite;
-webkit-box-sizing: border-box;
box-sizing: border-box;

}
body{
    font-size: 14px;
    font-family:"Microsoft yaHei",sans-serif;
    color: #333;
}
/* 搜索栏分界线 */
.header{
    position: fixed;
    left:0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
    background-color:blueviolet;
}
.header_box{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    background-position: 0 -103px;
    top: 4px;
    left: 10px;
}
.login{
    width: 50px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    color: bisque;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}
form{
    width: 100%;
    padding-left: 75px;
    padding-right: 50px;
    height: 40px;
    position: relative;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 30px;
    margin-top: 5px;
    padding-left: 60px;

}
.icon_search{
    height: 20px;
    width: 20px;
    position:absolute;
    background-position: -60px -109px;
    top: 10px;
    left:85px;
}
/* 轮播图 */
.slider{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
img{
    transition: opacity 1s linear;
    opacity: 1;
    width:  100%;
    height: 300px;    
    margin: 0 auto;
}

#images{
    position: relative;
    width: 100%;
}

#images>a{
    transition:  opacity 1s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.displayImg{
    opacity: 1;
}

.hiddenImg{
 opacity: 0;
}

.btn{
    position: absolute;
    top:50%;
    width: 60px;
    height: 30px;
    background-color: #000;
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-position: center;
}

.rightButton{
    right:10px;
}

.leftButton{
    left:10px;
}

.txt-box{


    width: 100%;
    height:5px;
    list-style: none;
    position: absolute;    
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 5;
    transition: height 0.1s linear 0s;
}

.txt-box:hover{
    height: 40px;
}

.txtItem{
    width: 12.5%;
    margin-right: 2px;
    color: #fff;
    text-align: center;    
}
.txtItem:last-child{
    margin:0;
}

.txtItem:hover,.heighlightColor{
    background-color:rgb(252, 164, 2);
}

.normalColor{
    background-color:rgba(0,0,0,0.5);
}

    .hm-nav{
        width: 100%;
        background: #fff;
        /* border-bottom: 1px solid #e0e0e0; */
        margin: 10px;
    }
    .hm-nav>ul{
        width: 100%;
        padding: 10px 0;
    }
    .hm-nav>ul>li{
        width: 25%;
        float: left;
        list-style: none;
        
    }
    .hm-nav>ul>li>a{
        display: block;

    }
    .hm-nav>ul>li>a>img{
     width: 40px;
     height: 40px;
     display: block;
     margin: 0 auto;
    
    }
    .hm-nav>ul>li>a>p{
        text-align: center;
        color: #666;
        font-size: 12px;
        padding: 6px 0;
    }